<navbar></navbar>

<div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#"> <span class="glyphicon glyphicon-heart"></span> Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>


<div class="footer">
  <div class="row">
    <div class="col-xs-6">♥ from the Yeoman team</div>
    <div class="col-xs-6 text-right">version {{version.revision}}</div>
  </div>
</div>
